*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.primary-container{
    position: relative;
    display: inline-block;
}

.secondary-container{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.player-health-container{
    position: relative;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.player-health{
    position: absolute; 
    background-color: brown;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.player-health-background{
    background-color: yellow;
    height: 40px;
    width: 100%;
}

.enemy-health-container{
    position: relative;
    height: 40px;
    width: 100%;
}

.enemy-health{
    position: absolute; 
    background-color: blue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.enemy-health-background{
    background-color: green;
    height: 40px;
}

.timer{
    background-color: gray;
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result{
    position :absolute;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.controls-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    /* display: none; */
}

.controls {
    border-collapse: collapse;
    width: 450px;
    background-color: white;
    text-transform: uppercase;

}

.controls th, .controls td {
    border: 1px solid black;
    text-align: center;
}

.controls th {
    background-color: gray;
    color: white;
}

.controls td[class='keyboard'] {
    font-family: monospace;
    font-size: 20px;
}

.keyboard p {
    background-color: #ccc;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 1px 1px 1px #333;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 5px;
}

.no-display{
    display: none;
}

.controls-button {
    display: flex ;
    justify-content: center;
    width: 1024px;
}

.controls-button button{
    background-color: #ccc;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 1px 1px 1px #333;
    width: 80px;
    height: 50px;
    margin: 10px auto;
    padding: 5px;
}


